<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h3>PawnShop</h3>
  </div>
  <ul class="sidebar-menu">
    <li><a href="{% url "pawnshop:index" %}">Home</a></li>
    <li><a href="{% url "pawnshop:item-list" %}">Items</a></li>
    <li><a href="{% url "pawnshop:loan-list" %}">Loans</a></li>
    <li><a href="{% url "pawnshop:payment-list" %}">Payments</a></li>
{#    <li><a href="{% url 'profile' %}">Profile</a></li>#}
{#    <li><a href="{% url 'logout' %}">Logout</a></li>#}
  </ul>
</div>
