{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawnShop</title>
    <!-- Підключення Bootstrap для швидкої стилизації -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <!-- Верхнє навігаційне меню -->
        <header class="row bg-dark text-white p-3">
            <div class="col-12">
                <h1 class="text-center">PawnShop</h1>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'pawnshop:index' %}" class="nav-link text-dark">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'pawnshop:item-list' %}" class="nav-link text-dark">Items</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'pawnshop:loan-list' %}" class="nav-link text-dark">Loans</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'pawnshop:payment-list' %}" class="nav-link text-dark">Payments</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Основний контент -->
        <main class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>


      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    <!-- Підключення скриптів для Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
