<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawnShop</title>
    <!-- Підключення Bootstrap для швидкої стилизації -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <!-- Верхнє навігаційне меню -->
        <header class="row bg-dark text-white p-3">
          {% block navbar %}
            {% include "includes/navbar.html" %}
          {% endblock %}
         <div class="container mt-4">
        </div>
        </header>

        <!-- Основний контент -->
        <main class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>


      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    <!-- Підключення скриптів для Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
