<!doctype html>
<html lang="en">
{% load static %}
{% load django_bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawnShop</title>
    <!-- Підключення Bootstrap для швидкої стилизації -->
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <!-- Верхнє навігаційне меню -->
        <header class="row bg-dark text-white p-3">
          {% block navbar %}
            {% include "includes/navbar.html" %}
          {% endblock %}
         <div class="container mt-4">
        </div>
        </header>

        <!-- Основний контент -->
        <main class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>


      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

</body>
</html>
