{% extends "base.html" %}

{% block content %}
  <h2>Loan List</h2>

  <div id="loading" style="display:none;">Loading...</div>

  {% include "includes/pagination.html" with items=loans %}

  <script>
    window.onscroll = function() {
      var loadingElement = document.getElementById('loading');
      if (window.innerHeight + window.scrollY >= document.body.scrollHeight) {
        loadingElement.style.display = 'block';

        var nextPage = '{{ loans.has_next }}';
        if (nextPage === 'True') {
          var nextPageUrl = '{{ loans.next_page_number }}';

          fetch('?page=' + nextPageUrl)
            .then(response => response.text())
            .then(data => {
              document.getElementById('loans-list').innerHTML += data;
              loadingElement.style.display = 'none';
            });
        } else {
          loadingElement.innerHTML = 'No more loans to load.';
        }
      }
    }
  </script>

{% endblock %}
